[Desktop Entry]
Name=JetBrains Fleet
GenericName=Next-generation IDE by JetBrains
Exec=jetbrains-fleet
Terminal=false
Icon=jetbrains-fleet
Type=Application
Categories=Development;IDE;
StartupWMClass=jetbrains-fleet
