[Desktop Entry]
Categories=Development;IDE;
Exec=intellij-idea-ultimate
GenericName=Capable and Ergonomic Java IDE
Icon=intellij-idea-ultimate
Keywords=development;idea;ide;intellij;java;
Name=IntelliJ IDEA Ultimate
StartupNotify=true
StartupWMClass=jetbrains-idea-ultimate
Terminal=false
Type=Application
