[Desktop Entry]
Name=IntelliJ IDEA Community
GenericName=Capable and Ergonomic Java IDE
Exec=intellij-idea-community
Terminal=false
Icon=intellij-idea-community
Type=Application
Categories=Development;IDE;
Keywords=development;idea;ide;intellij;java;
StartupWMClass=jetbrains-idea-ce
