[Desktop Entry]
Name=Android Studio (Beta branch)
GenericName=Development environment for the Android platform
Keywords=development;android;studio;java;
Categories=Development;IDE;
Type=Application
Exec=android-studio-beta
Terminal=false
Icon=android-studio-beta
StartupWMClass=jetbrains-studio-beta
