[Desktop Entry]
Name=Android Studio (Canary branch)
GenericName=Development environment for the Android platform
Categories=Development;IDE;
Type=Application
Exec=android-studio-canary
Terminal=false
Icon=android-studio-canary
StartupWMClass=jetbrains-studio-canary
