[Desktop Entry]
Name=CLion
GenericName=A cross-platform IDE for C and C++
Exec=clion
Terminal=false
Icon=clion
Type=Application
Categories=Development;IDE;
Keywords=development;pycharm;ide;clion;
StartupWMClass=jetbrains-clion
