[Desktop Entry]
Name=Android Studio
GenericName=Development environment for the Android platform
Keywords=development;android;studio;java;
Categories=Development;IDE;
Type=Application
Exec=android-studio
Terminal=false
Icon=com.google.AndroidStudio
StartupWMClass=jetbrains-studio
